# Dependencies
node_modules

# Build
dist
dist-ssr

# Tauri
src-tauri/target
src-tauri/gen

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.sw?

# Env
*.local
.env*
